:root {
  --text-color: rgba(233, 237, 237, 1);
  --text-color: #9ccde5;
  --main-background-color: #162228;
  --dark-background-color: #121c20;
  --panel-background-color: #263238;
  --highlight-overlay-color: rgba(255, 255, 255, 0.05);

  --monospace-font-families: "SFMono-Regular", "Consolas", "Roboto Mono", "Droid Sans Mono", "Liberation Mono", "Menlo", "Courier", monospace;
}

html, body, #root {
  height: 100%;
  background: var(--main-background-color);
	font-family: Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  font-size: 15px;
}

.c-button {
  color: var(--text-color);
  padding: .5em 1em;
  cursor: pointer;
  background: var(--main-background-color);
}
.c-button > .label {
  vertical-align: middle;
  margin: 0 .25em;
}
.c-button > svg {
  vertical-align: middle;
  margin: 0 .25em;
  width: 16px;
  height: 16px;
}
.c-button:hover {
  background: var(--highlight-overlay-color);
}

.c-statusbar {
  display: flex;

  background: var(--main-background-color);
  font-size: 13px;
}
.c-statusbar > .separator {
  flex: auto;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app > .editors {
  display: flex;
  flex: 1;
}

.app > .editors > .react-codemirror2 {
  width: 50%;
}
.app > .editors > .react-codemirror2:first-child {
  border-right: 1px solid var(--main-background-color);
}

.app > .editors > .react-codemirror2 > .CodeMirror {
  min-height: 100%;
  font-family: var(--monospace-font-families);
  font-size: 13px;
}

.output {
  height: 200px;
  overflow: auto;

  padding: .5em 1em;

  font-family: var(--monospace-font-families);
  font-size: 13px;
  background-color: var(--main-background-color);
  color: var(--text-color);
}