:root {
  --text-color: rgba(233, 237, 237, 1);
  --text-color: #9ccde5;
  --main-background-color: #162228;
  --dark-background-color: #121c20;
  --panel-background-color: #263238;
  --highlight-overlay-color: rgba(255, 255, 255, 0.05);

  --monospace-font-families: "SFMono-Regular", "Consolas", "Roboto Mono", "Droid Sans Mono", "Liberation Mono", "Menlo", "Courier", monospace;
}

html, body, #root {
  height: 100%;
  background: var(--main-background-color);
	font-family: Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  font-size: 15px;
  color: var(--text-color);
}


.c-button, .c-select-button button {
  color: var(--text-color);
  padding: .5em 1em;
  cursor: pointer;
  background: var(--main-background-color);
}
.c-button > .label {
  vertical-align: middle;
  margin: 0 .25em;
}
.c-button > svg {
  vertical-align: middle;
  margin: 0 .25em;
  width: 16px;
  height: 16px;
}
.c-button:hover {
  background: var(--highlight-overlay-color);
}


.c-select-button {
  display: inline-block;
  position: relative;
}
.c-select-button menu {
  display: none;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 100;
  transform: translateX(-2);
  background: var(--dark-background-color);
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
}
.c-select-button menu > ul > li {
  padding: 1em;
  cursor: pointer;
  text-align: right;
}
.c-select-button menu > ul > li:hover {
  background: var(--highlight-overlay-color);
}
.c-select-button.s-open menu {
  display: block;
}


.c-statusbar {
  display: flex;

  background: var(--main-background-color);
  font-size: 13px;
}
.c-statusbar > .separator {
  flex: auto;
}


.c-terminal {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  background: var(--panel-background-color);
}
.c-terminal > .react-codemirror2 {
}
.c-terminal > .react-codemirror2 > .CodeMirror {
  height: auto;
}
.c-terminal > input {
  width: 100%;
  color: var(--text-color);
  padding: .5em 1em;
  background: var(--panel-background-color);
  border-top: 1px solid var(--main-background-color);
}


.app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}


.app > .output {
  display: flex;
  flex: 1;
}

.app > .output > * {
  width: 50%;
}
.app > .output > .react-codemirror2:first-child {
  border-right: 1px solid var(--main-background-color);
}

.app > .output > .react-codemirror2 > .CodeMirror {
  min-height: 100%;
  font-family: var(--monospace-font-families);
  font-size: 13px;
}

.app > .output > .dom {
  display: none;
}

.app > .output > .dom.s-selected {
  display: block;
}
.app > .output > .dom button {
  color: var(--text-color);
  padding: .5em 1em;
  cursor: pointer;
  background: var(--panel-background-color);
}