:root {
  --text-color: rgba(233, 237, 237, 1);
  --text-color: #9ccde5;
  --main-background-color: #162228;
  --dark-background-color: #121c20;
  --panel-background-color: #263238;
  --highlight-overlay-color: rgba(255, 255, 255, 0.05);

  --monospace-font-families: "SFMono-Regular", "Consolas", "Roboto Mono", "Droid Sans Mono", "Liberation Mono", "Menlo", "Courier", monospace;
}


html, body, #root {
  height: 100%;
  background: var(--main-background-color);
	font-family: Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  font-size: 15px;
  color: var(--text-color);
}


::-webkit-scrollbar {
  background: transparent;
}
::-webkit-scrollbar:vertical {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track  {
  background: transparent;
}
::-webkit-scrollbar-track-piece {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-resizer {
  background: transparent;
}
.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background: transparent;
}


.c-button,
.c-select-button button,
.c-dependency-list button {
  color: var(--text-color);
  padding: .5em 1em;
  cursor: pointer;
  background: var(--main-background-color);
}
.c-button > .label {
  vertical-align: middle;
  margin: 0 .25em;
}
.c-button > svg {
  vertical-align: middle;
  margin: 0 .25em;
  width: 16px;
  height: 16px;
}
.c-button:hover,
.c-select-button button:hover,
.c-dependency-list button:hover {
  background: var(--highlight-overlay-color);
}


.c-select-button {
  display: inline-block;
  position: relative;
}
.c-select-button menu {
  display: none;
  position: absolute;
  bottom: 100%;
  z-index: 100;
  transform: translateX(-2);
  background: var(--dark-background-color);
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
}
.c-select-button menu > ul > li {
  padding: 1em;
  cursor: pointer;
}
.c-select-button menu > ul > li:hover {
  background: var(--highlight-overlay-color);
}
.c-select-button.m-align-right menu {
  text-align: right;
  right: 0;
}
.c-select-button.s-open menu {
  display: block;
}


.c-dependency-list {
  display: inline-block;
  position: relative;
}
.c-dependency-list ul {
  display: none;
  position: absolute;
  bottom: 100%;
  z-index: 100;
  transform: translateX(-2);
  background: var(--dark-background-color);
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
}
.c-dependency-list ul > li {
  padding: 1em;
  white-space: nowrap;
}
.c-dependency-list.s-open ul {
  display: block;
}


.c-console {
  overflow: auto;
  min-height: 100%;
  box-sizing: border-box;

  font-family: var(--monospace-font-families);
  font-size: 13px;
  padding: .5em 1em;
}


.c-terminal {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  background: var(--panel-background-color);
}
.c-terminal > pre {
  overflow: auto;

  font-family: var(--monospace-font-families);
  font-size: 13px;
  padding: .5em 1em;
  color: #a1b0b8
}
.c-terminal > .command-line {
  flex: 0 0 auto;
  display: flex;
  align-items: baseline;
  padding: .5em;
  background: var(--panel-background-color);
  border-top: 1px solid var(--main-background-color);
}
.c-terminal > .command-line > .prompt {
  display: inline-block;
  padding-right: .5em;
  color: #a1b0b8
}
.c-terminal > .command-line > input {
  width: 100%;
  color: var(--text-color);
  color: #a1b0b8
}
.c-terminal .stderr {
  position: relative;
}
.c-terminal .stderr:before {
  position: absolute;
  height: 100%;
  content: "";
  border-left: 2px solid #ff5252;
  transform: translateX(-1em);
}

/* From https://github.com/carloscuesta/materialshell */
.c-terminal .ansi-black-fg { color: #252525 }
.c-terminal .ansi-red-fg { color: #ff5252 }
.c-terminal .ansi-green-fg { color: #c3d82c }
.c-terminal .ansi-yellow-fg { color: #ffd740 }
.c-terminal .ansi-blue-fg { color: #40c4ff }
.c-terminal .ansi-magenta-fg { color: #ff4081 }
.c-terminal .ansi-cyan-fg { color: #18ffff }
.c-terminal .ansi-white-fg { color: #f5f5f5 }
.c-terminal .ansi-bright-black-fg { color: #252525 }
.c-terminal .ansi-bright-red-fg { color: #ff5252 }
.c-terminal .ansi-bright-green-fg { color: #c3d82c }
.c-terminal .ansi-bright-yellow-fg { color: #ffd740 }
.c-terminal .ansi-bright-blue-fg { color: #40c4ff }
.c-terminal .ansi-bright-magenta-fg { color: #ff4081 }
.c-terminal .ansi-bright-cyan-fg { color: #18ffff }
.c-terminal .ansi-bright-white-fg { color: #f5f5f5 }

.c-terminal .ansi-black-bg { background: #252525 }
.c-terminal .ansi-red-bg { background: #ff5252 }
.c-terminal .ansi-green-bg { background: #c3d82c }
.c-terminal .ansi-yellow-bg { background: #ffd740 }
.c-terminal .ansi-blue-bg { background: #40c4ff }
.c-terminal .ansi-magenta-bg { background: #ff4081 }
.c-terminal .ansi-cyan-bg { background: #18ffff }
.c-terminal .ansi-white-bg { background: #f5f5f5 }
.c-terminal .ansi-bright-black-bg { background: #252525 }
.c-terminal .ansi-bright-red-bg { background: #ff5252 }
.c-terminal .ansi-bright-green-bg { background: #c3d82c }
.c-terminal .ansi-bright-yellow-bg { background: #ffd740 }
.c-terminal .ansi-bright-blue-bg { background: #40c4ff }
.c-terminal .ansi-bright-magenta-bg { background: #ff4081 }
.c-terminal .ansi-bright-cyan-bg { background: #18ffff }
.c-terminal .ansi-bright-white-bg { background: #f5f5f5 }

/* From https://github.com/drudru/ansi_up/blob/master/examples/theme.css */
.c-teminal .ansi-black-fg { color: #3A3A3A; }
.c-teminal .ansi-red-fg { color: #DD948E; }
.c-teminal .ansi-green-fg { color: #B6D1AA; }
.c-teminal .ansi-yellow-fg { color: #F3D57C; }
.c-teminal .ansi-blue-fg { color: #8AA9D5; }
.c-teminal .ansi-magenta-fg { color: #CBAFD5; }
.c-teminal .ansi-cyan-fg { color: #9AD1D4; }
.c-teminal .ansi-white-fg { color: #EFEFEF; }
.c-teminal .ansi-bright-black-fg { color: #5E5D5E; }
.c-teminal .ansi-bright-red-fg { color: #E69B94; }
.c-teminal .ansi-bright-green-fg { color: #D1F0C3; }
.c-teminal .ansi-bright-yellow-fg { color: #F4D799; }
.c-teminal .ansi-bright-blue-fg { color: #A6CBFE; }
.c-teminal .ansi-bright-magenta-fg { color: #E7C7F2; }
.c-teminal .ansi-bright-cyan-fg { color: #B0F0F5; }
.c-teminal .ansi-bright-white-fg { color: #FFF; }

.c-terminal .ansi-black-bg { background-color: #3A3A3A; }
.c-terminal .ansi-red-bg { background-color: #DD948E; }
.c-terminal .ansi-green-bg { background-color: #B6D1AA; }
.c-terminal .ansi-yellow-bg { background-color: #F3D57C; }
.c-terminal .ansi-blue-bg { background-color: #8AA9D5; }
.c-terminal .ansi-magenta-bg { background-color: #CBAFD5; }
.c-terminal .ansi-cyan-bg { background-color: #9AD1D4; }
.c-terminal .ansi-white-bg { background-color: #EFEFEF; }
.c-terminal .ansi-bright-black-bg { background-color: #5E5D5E; }
.c-terminal .ansi-bright-red-bg { background-color: #E69B94; }
.c-terminal .ansi-bright-green-bg { background-color: #D1F0C3; }
.c-terminal .ansi-bright-yellow-bg { background-color: #F4D799; }
.c-terminal .ansi-bright-blue-bg { background-color: #A6CBFE; }
.c-terminal .ansi-bright-magenta-bg { background-color: #E7C7F2; }
.c-terminal .ansi-bright-cyan-bg { background-color: #B0F0F5; }
.c-terminal .ansi-bright-white-bg { background-color: #FFF; }

.c-statusbar {
  display: flex;

  background: var(--main-background-color);
  font-size: 13px;
}
.c-statusbar > .separator {
  flex: auto;
}


.app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}


.app > .main {
  display: flex;
  flex: 1;
}

.app > .main > * {
  width: 50%;
}
.app > .main > .react-codemirror2:first-child {
  border-right: 1px solid var(--main-background-color);
}
.app > .main > .react-codemirror2 > .CodeMirror {
  min-height: 100%;
  font-family: var(--monospace-font-families);
  font-size: 13px;
}


.app > .main > .dom {
  display: none;
}
.app > .main > .dom.s-selected {
  display: block;
}
.app > .main > .terminal {
  display: none;
}
.app > .main > .terminal.s-selected {
  display: block;
}
.app > .main > .dom button {
  color: var(--text-color);
  padding: .5em 1em;
  cursor: pointer;
  background: var(--panel-background-color);
}